#display-3 {
	text-align: center;
	font-family: 'Staatliches', cursive;
	font-size: 80px; 
	font-style: normal;
}


#display-4 {
	text-align: center;
	font-family: 'Staatliches', cursive;
	font-size: 50px; 
	font-style: normal;
}

#lead-1 {
	text-align: center;
	font-family: 'Thasadith', sans-serif;
	font-size: 24px; 
}

#lead-2 {
	text-align: center;
	font-family: 'Thasadith', sans-serif;
	font-size: 16px; 
}

body {
	background-image: url("https://app.meetsoci.com/uploads/account/1585/Vwkp7-LLnS2.png");
	background-repeat: repeat;
	background-position: right top;
	background-attachment: fixed;
	margin-top:-10;
	}

#holStuff{
	text-align: center;
	font-family: 'Thasadith', sans-serif;
	font-size: 44px; 
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
  }